<template>
  <div class="nav-root">
    <nav class="deep-purple">
      <div class="nav-wrapper">    
        <button class="toggle-button hide-on-med-and-up"><i class="material-icons">menu</i></button>
        <router-link :to="{name: 'Index'}" class="brand-logo"><img src="../assets/logo.png"></router-link>
        <div class="nav-title">GitLab Training Library</div>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Filter</a></li>
          <li><a href="#">Filter 2</a></li>
          <li><a href="#">Filter 3</a></li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
import Menu from '@/components/Menu'
export default {

  name: 'Navbar',
  components: {
    Menu
  },
  data () {
    return {
    }
  }
}
</script>

<style lang="css">

.nav-root > nav {
	height:100px;
	line-height:100px;
}

nav .nav-title {
	padding:0;
	vertical-align: top;
  font-weight:100;
}

.nav-wrapper .toggle-button {
      position: absolute;
    line-height: 100px;
    height: 100px;
    background: transparent;
    border: none;
    cursor: pointer;
    color:#fff;
}
.nav-wrapper .toggle-button i {
      font-size: 3rem;
}

</style>